:root {
  --clr-primary-blue: hsl(205, 94%, 50%);
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.normal {
  color: white;
  text-decoration: none;
}
.active {
  color: var(--clr-primary-blue);
  text-decoration: none;
  font-weight: bold;
}
.active p {
  text-shadow: 0px 0px 3px var(--clr-primary-blue);
}
